<div class="container-minicart">
    <div class="container-content-minicart">

        <div class="h-600 red"></div>

        <div class="h-1000 green"></div>

        <!-- <div class="close-minicart">
            <div class="container-btn">
                <div class="box-btn">
                    <i class="material-icons">close</i>
                </div>
            </div>
        </div> -->
    </div>
</div>