/****************************************************** 
    Default Values 
*/
/* .col {
    padding: 0 !important;
}

.row {
    margin: 0 !important;
} */

select {
    display: inline-block;
}

.navbar-fixed,
nav {
    height: 64px !important;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100vh - 64px);
    overflow: scroll;
}

nav .brand-logo {
    left: auto !important;
    transform: none !important;
    position: initial !important;
}

.line {
    margin: 0 0.75rem;
    height: 3px;
    background-color: rgba(0,0,0,.2);
}

body {
    position: relative;
}

.mb-15 {
    margin-bottom: 15px !important;
}

/****************************************************** 
    Scroll to top 
*/
.container-scroll-to-top {
    position: fixed;
    bottom: 0;
    margin-bottom: 25px;
    display: flex;
    justify-content: end;
    padding-right: 25px;
    right: 0;
    z-index: 1;
}

/****************************************************** 
    Swiper Slide 
*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    /* width: 100%;
    height: 300px; */
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/****************************************************** 
    Cart 
*/
.container-product-cart {
    display: grid;
    color: white;
    padding: 5px;
    background-color: green;
    border-radius: 5px;
    height: 56px;
    width: 80px;
    margin: 4px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-areas:
		"cart   items"
		"total  total"
    ;
}

    .cart {
        grid-area: cart;
        font-size: 1.5em !important;
        line-height: normal !important;
        height: auto !important;
    }

    .items {
        grid-area: items;
        font-size: 0.9em;
        font-weight: bold;
        line-height: normal !important;
        height: auto;
    }

    .total {
        grid-area: total;
        font-size: 0.9em;
        font-weight: bold;
        line-height: normal !important;
        height: auto;
    }

/****************************************************** 
    Container Product  
*/
.container-product {

}
    .container-product .row {
        margin-bottom: 1.2em;
    }

    .container-product .collapsible li {
        margin: 0 !important;
    }

    .container-product .title {
        margin-top: .5em !important;
        margin-bottom: 0 !important;
        font-size: 2em;
        text-transform: capitalize;
        font-weight: 500;
    }

    /****************************************************** 
        Product Price 
    */
    .container-product-price {
        position: relative;
    }
        .container-compare-price {
            display: flex;
            position: relative;
            bottom: -5px;
        }

            .container-compare-price .old-price {
                display: flex;
                align-items: end;
                width: 100%;
            }
            
            .container-compare-price .old-price {
                display: flex;
                align-items: end;
                width: 100%;
            }
            
            .container-compare-price .old-price span.old-price-value {
                font-size: 15px;
                text-decoration: line-through;
                color: red;
                flex: 10;
            }
            
            .container-compare-price .old-price span.from-price {
                flex: 1;
            }
            
            .container-compare-price .discount {
                margin-left: 5px;
                background-color: green;
                padding: 5px;
                border-radius: 10px;
            }
            
            .container-compare-price .discount span {
                font-size: 15px;
                color: white;
            }

        .container-price {
            display: flex;
            align-items: end;
            width: 100%;
        }
            
            .container-price .to-price {
                margin-bottom: 3px;
                flex: 1;
            }
            
            .container-price .new-price-value {
                font-size: 22px;
                color: green;
                font-weight: bold;
                flex: 10;
            }
    
    /****************************************************** 
        Product Options 
    */
    .container-title-options {
        display: flex;
    }

        .container-title-options h3 {
            font-size: 18px;
            margin: 10px 0 15px 0 !important;
            font-weight: bold;
            font-size: 1rem;
            margin: 10px 0 15px 0 !important;
            text-transform: uppercase;
            font-weight: 500;
        }

        .container-body-options {
            margin-bottom: 10px;
            display: flex;
            padding: 5px;
            border-radius: 5px;
            /* background-color: grey; */
            background-color: rgba(0,0,0,.1);
        }
        
        .container-body-options .options-name {
            display: flex;
            align-items: center;
            border-right: 1px solid rgba(0,0,0,.2);
            justify-content: center;
            margin-right: 5px;
            color: rgba(0,0,0,0.7);
            padding: 0px 15px 0 10px;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 1px;
            width: 100px;
        }
        
        .container-body-options .option-values {
            flex: 6;
        }
        

/****************************************************** 
    Product Info 
*/
.container-product-info .col {
    padding: 0;
}

.container-product-info .title {
    font-size: 18px;
    margin: 0px;
    text-transform: capitalize;
    font-weight: bold;
}

/****************************************************** 
    Product Price 
*/

.container-select-quantity {
    display: flex;
    padding: 0 0 10px 0;
}

    .box-add-to-cart {
        align-self: end;
        padding: 5px;
        padding-right: 0;
        padding-bottom: 0;
    }

        .box-add-to-cart a {
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: normal;
            width: 130px;
            font-size: 12px;
        }

    .box-quantity {
        flex: 1;
    }
        .box-quantity label {
            text-transform: uppercase;
        }

.container-buy-button {
    padding: 5px 0 10px 0;
}

    .container-buy-button a {
        width: 100%;
        background-color: red;
        font-weight: bold;
    }

/****************************************************** 
    Animate Shake X 
*/
.shakeX {
    animation: animation-shake-X ease-in-out .5s;
}

@keyframes animation-shake-X {
    0% {
        transform: translateX(0px);
    }

    10% {
        transform: translateX(5px);
    }

    20% {
        transform: translateX(0px);
    }

    30% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(0px);
    }

    70% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(0px);
    }

    90% {
        transform: translateX(5px);
    }

    0% {
        transform: translateX(0px);
    }
}

/****************************************************** 
    Scroll Bar
*/
::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,.2);
    /* border-radius: 100vw; */
    /* margin-block: .5em; */
}
::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    background-color: rgba(0,0,0,.4);
    border: .25em solid rgba(0,0,0,.2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,.8);
}

/****************************************************** 
    Media Query
*/

/* Tablet Devices */
@media (min-width:600px) { 
    
}

/* Desktop Devices */
@media (min-width:992px) { 
    .left-container {
        position: sticky;
        top: 0;
    }
    nav .brand-logo {
        margin: 0px 15px;
    }
    .container-product-cart {
        padding: 5px 0px;
        width: 100px;
    }
}

/* Large Desktop Devices */
@media (min-width:1200px) { 

}

